.container{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;

}

.row-container{
    display: flex;
    gap: 20px;
}

.middle-container{
    max-width: 520px;
    margin: 0 auto;
}
