.header-menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    &.open{
        display: block;
    }
}

.header-menu__list{
    width: 240px;
    padding: 10px 15px;

    background: #fdfdfd;
    border-radius: 5px;
}

.header-menu__item{
    margin-bottom: 5px;
    &:last-child{
        margin-bottom: 0;
    }
}

.header-menu__link{
    display: block;
    transition: 0.2s ease-in-out;
    padding: 5px 15px;
    color: #1a202c;
    border-radius: 5px;
    &:hover{
        background: #f0f0f0;
    }
}
