.header-menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fdfdfd;
    width: 240px;
    padding: 10px 15px;
    transform: translateY(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    &.open{
        display: block;
    }
}

//.header-menu__list{
//
//
//
//    border-radius: 5px;
//}

.header-menu__item{
    margin-bottom: 5px;
    &:last-child{
        margin-bottom: 0;
    }

}

.header-menu__link{
    display: block;
    transition: 0.2s ease-in-out;
    padding: 5px 15px;
    color: #1a202c;
    background: none;
    cursor: pointer;
    &:hover{
        background: #f0f0f0;
    }
    &_logout{
        width: 100%;
        text-align: left;
        outline: none;
        border: none;
    }
}
