.header-user{
    position: relative;
}

.header-user__btn{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f5f5f5;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
        background: #d5d5d5;
    }
}

.header-user__avatar{
    width: 40px;
}

.header-user__arrow{
    display: block;
    width: 10px;
    height: 10px;
    background-image: url('../image/icon/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
