.header{
    padding: 10px 0;
    background: #fdfdfd;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.header__inner{
    display: flex;
    gap: 40px;
}

.header__login{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}
