.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1000;
    &.open{
        .modal__blackout{
            background: rgba(0, 0, 0, 0.2);
        }

        .modal__body{
            transform: translateY(calc(0% + 150px));
        }
    }

    &.forefront{
        z-index: 1000;
    }
}


.modal__blackout{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.0);
    cursor: pointer;
}
.modal__body {
    position: relative;
    transition: 0.2s ease-in-out;
    transform: translateY(-100%);
}

.modal__spinner{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: calc(100% - 30px);
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    &.show{
        display: flex;
    }

    &.appearance{
        opacity: 1;
    }
}


.modal-message{
    position: absolute;
    max-width: 700px;
    opacity: 0;
    display: none;
    width: 100%;
    top: 100%;
    right: 50%;
    transform: translate(50%, 0);
    transition: 0.2s ease-in-out;
    &.show{
        display: block;
    }

    &.appearance{
        transform: translate(50%, 100%);
        opacity: 1;
    }
}

.modal-message__text{
    margin-bottom: 20px;
}

.modal-message__btn{
    margin-left: auto;
}
