.table {
    background: #fff;
    padding: 20px 30px;
    border-radius: 5px;
}

.table__content{
    border: 1px solid #f0f0f0;
}

.table__row{
    display: flex;
    min-height: 40px;
    border-bottom: 1px solid #f0f0f0;
    &:last-child{
        border-bottom: none;
    }
}

.table__coll{
    border-right: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    &:last-child{
        border-right: none;
    }
    &_name{
        flex-grow: 1;
    }
}

.table__link{
    display: inline-block;
    color: #2d3748;
    font-weight: 500;
    &:hover{
        color: #4375c9;
    }
}

.table__btn{
    padding: 0;
    width: 30px;
    height: 30px;
}



