.table {
    min-height: 390px;
}

.table__content{
    border: 1px solid #f0f0f0;

}

.table__row{
    display: flex;
    min-height: 35px;
    border-bottom: 1px solid #f0f0f0;
    &:last-child{
        border-bottom: none;
    }
}

.table__coll{
    border-right: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    padding: 0 5px;
    &:last-child{
        border-right: none;
    }
    &_name{
        flex-grow: 1;
    }
}

.table__link{
    display: inline-block;
    color: #2d3748;
    font-weight: 500;
    &:hover{
        color: #4375c9;
    }
}

.table__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 25px;
    height: 25px;
}

.table__btn-icon{
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &_delete{
        background-image: url('../image/icon/cross.svg');
    }
    &_edit{
        background-image: url('../image/icon/edit.svg');
    }

    &_clock{
        background-image: url('../image/icon/clock.svg');
    }

    &_important{
        background-image: url('../image/icon/important.svg');
    }
}



