.task{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.task__title{
    font-size: 24px;
}

.task__content{
    display: flex;
    gap: 20px;
}

.task__description{
    flex-grow: 1;
}


.task-info{
    width: 350px;
    flex-shrink: 0;
    border: 1px solid #ccc;
    padding: 10px;
}

.task-info__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-info__item{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 5px 10px;
    background: #f0f0f0;
    transition: background 0.2s linear;
    &:hover{
        background: #ddd;
    }
}

.task__controls{
    display: flex;
    gap:10px;
    justify-content: flex-end;
    &_empty{
        height: 28px;
    }
}


.task__spinner{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: calc(100% - 30px);
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    &.show{
        display: flex;
    }

    &.appearance{
        opacity: 1;
    }
}


.task-message{
    position: absolute;
    max-width: 700px;
    opacity: 0;
    display: none;
    width: 100%;
    top: 100%;
    right: 50%;
    transform: translate(50%, 50%);
    transition: 0.2s ease-in-out;
    &.show{
        display: block;
    }
    &.appearance{
        transform: translate(50%, -50%);
        opacity: 1;
        top: 50%;
    }
}

.task-message__text{
    margin-bottom: 20px;
}

.task-message__btn{
    margin-left: auto;
}


