.task{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.task__title{
    font-size: 24px;
}

.task__content{
    display: flex;
    gap: 20px;
}

.task__description{
    flex-grow: 1;
}


.task-info{
    width: 350px;
    flex-shrink: 0;
    border: 1px solid #ccc;
    padding: 10px;
}

.task-info__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-info__item{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 5px 10px;
    background: #f0f0f0;
    transition: background 0.2s linear;
    &:hover{
        background: #ddd;
    }
}

.task__controls{
    display: flex;
    gap:10px;
    justify-content: flex-end;
    &_empty{
        height: 28px;
    }
}


