.btn{
    display: block;
    border: none;
    outline: none;
    background: #dfdfdf;
    padding: 10px 30px;
    //border-radius: 5px;
    color: #4a5568;
    font-size: 14px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
        background: #ccc;
        color: #2d3748;
    }
    &_small{
        padding: 7px 20px;
        font-size: 12px;
    }
    &_blue{
        background: #517bc6;
        color: #fff;
        &:hover{
            background: #2557a6;
            color: #fff;
        }
    }

    &_red{
        background: #ff5e5e;
        color: #fff;
        &:hover{
            background: #e83636;
            color: #fff;
        }
    }

    &_green{
        background: #59ce2e;
        color: #fff;
        &:hover{
            background: #3eb016;
            color: #fff;
        }
    }

    &_yellow{
        background: #faa73a;
        color: #fff;
        &:hover{
            background: #de9230;
            color: #fff;
        }
    }

}
