.checkbox{
    display: flex;
    align-items: center;

    justify-content: space-between;

    cursor: pointer;
    gap: 20px;
}
.checkbox__title{
    font-size: 13px;
}

.checkbox__input{
    display: none;


    &:checked + .checkbox__fake{
        &::before{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 7px;
            height: 7px;
            background: #4375c9;
        }
    }
}

.checkbox__fake{
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
}
